<div class="py-4">
    <div class="w-full flex flex-row justify-between items-center bg-[#F57600] py-2 px-4 text-white rounded-xl">
        <header class="text-lg font-semibold">Master List</header>
        <div class="flex flex-row gap-2">
            <button class="flex flex-row gap-3 items-center p-3 px-5 border rounded-full" (click)="openRequestMasterList()">
                Request Master List
            </button>
            <button class="flex flex-row gap-3 items-center p-3 px-5 border rounded-full" (click)="openOfficialsMasterList()">
                Officials Master List
            </button>
            <button class="flex flex-row gap-3 items-center p-3 px-5 border rounded-full" (click)="openMasterList()">
                Location
            </button>
            <button class="flex flex-row gap-3 items-center p-3 px-5 border rounded-full" (click)="openAreaModal()">
                <lucide-icon [img]="mapPlus"></lucide-icon>
                Area
            </button>
        </div>
    </div>
    @if (AssistanceMasterList) {
        <div class="mt-4">
            <div class="flex justify-between items-center mb-3">
                <div>
                    
                    <div class="flex flex-row gap-3 items-center mb-3">
                        <input
                            type="text"
                            [(ngModel)]="searchTerm"
                            (input)="applyFilterRequests()"
                            placeholder="Search by patient name..."
                            class="border border-gray-400 rounded-md p-2 w-1/3 outline-none"
                        />

                        <input
                            type="date"
                            [(ngModel)]="filterFromDate"
                            (change)="applyFilterRequests()"
                            class="border border-gray-400 rounded-md p-2 outline-none"
                        />

                        <input
                            type="date"
                            [(ngModel)]="filterToDate"
                            (change)="applyFilterRequests()"
                            class="border border-gray-400 rounded-md p-2 outline-none"
                        />

                        <button
                            class="p-2 px-4 rounded-md bg-gray-200"
                            (click)="clearDateFilters()"
                        >
                            Clear
                        </button>
                        <button
                            class="p-2 px-4 rounded-md bg-green-600 text-white"
                            (click)="exportRequestsToExcel()"
                            >
                            Export Excel
                        </button>
                    </div>
                    </div>
                </div>
            <table>
            <thead>
                <tr>
                    <th>Control No.</th>
                    <th>Name of Requestor</th>
                    <th>Representative Name</th>
                    <th>Address</th>
                    <th>Contact Number</th>
                    <th>Amount</th>
                    <th>Request Date</th>
                </tr>
            </thead>
            <tbody>
                @for (request of paginatedData; track $index) {
                <tr>
                    <td>{{request.control_number}}</td>
                    <td>{{request.patients_name}}</td>
                    <td>{{request.representative_name}}</td>
                    <td>{{request.address}}</td>
                    <td>{{request.contact_number}}</td>
                    <td>{{request.amount}}</td>
                    <td>{{request.request_date}}</td>
                </tr>
                }
            </tbody>
            </table>
            <div class="flex justify-center items-center gap-3 mt-4 pagination">
                <button (click)="previousPageRequests()" [disabled]="currentPage === 1">Previous</button>
                    <span>Page {{currentPage}} of {{totalPages}}</span>
                <button (click)="nextPageRequests()" [disabled]="currentPage === totalPages">Next</button>
            </div>
        </div>
    }
    @if (OfficialsMasterList) {
        <div class="mt-4">
            <div class="flex justify-between items-center mb-3">
            <input
                type="text"
                [(ngModel)]="searchTermOfficials"
                (input)="applyFilterOfficials()"
                placeholder="Search by official name..."
                class="border border-gray-400 rounded-md p-2 w-1/3 outline-none"
                />
            </div>

            <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name of Officials</th>
                    <th>Area</th>
                    <th>Contact Number</th>
                </tr>
            </thead>
            <tbody>
                @for (request of paginatedDataOfficials; track $index) {
                <tr>
                    <td>{{request.personel_id}}</td>
                    <td>{{request.first_name}} {{request.last_name}}</td>
                    <td>{{request.type}}</td>
                    <td>{{request.contact_number}}</td>
                </tr>
                }
            </tbody>
            </table>
            <div class="flex justify-center items-center gap-3 mt-4 pagination">
                <button (click)="previousPageOfficials()" [disabled]="currentPageOfficials === 1">Previous</button>
                    <span>Page {{currentPageOfficials}} of {{totalPagesOfficials}}</span>
                <button (click)="nextPageOfficials()" [disabled]="currentPageOfficials === totalPagesOfficials">Next</button>
            </div>
        </div>
    }

    @if (locationList) {
        <table class="!w-full mt-4">
            <thead>
                <th>Control No.</th>
                <th>Municipality/City</th>
                <th>Area</th>
                <th class="w-[10%] !text-center">Action</th>
            </thead>
            
                @for (area of dropDownArea; track $index) {
                    <tr>
                        <td>{{area.area_id}}</td>
                        <td>{{area.municipality}}</td>
                        <td>{{area.areaInformation}}</td>
                        <td><span class="flex flex-row gap-2 items-center justify-center cursor-pointer" (click)="viewInformation(area.area_id!)"><lucide-icon [img]="viewEye"></lucide-icon> View</span></td>
                    </tr>       
                }
        </table>
    }
</div>
<app-modal [Title]="headerTitle" [isVisible]="AreaModal" (closeModal)="closeModal()">
    <header class="mt-2 font-bold text-2xl">Area</header>
    <form (ngSubmit)="submitArea()">
        <input type="text" name="areaInformation" [(ngModel)]="areaFields.areaInformation" class="w-full border border-gray-400 rounded-md p-2 outline-none mt-2" placeholder="Area Name">

        <select name="municipality" [(ngModel)]="areaFields.municipality" class="w-full border border-gray-400 rounded-md p-2 outline-none mt-2" id="">
            <option value="">--Select---</option>
            <option value="Koronadal City">Koronadal City</option>
            <option value="Tantangan">Tantangan</option>
            <option value="Banga">Banga</option>
        </select>
        
        <button class="w-full p-2 rounded-full bg-[#F57600] mt-3 text-white text-lg">
            Save Changes
        </button>
    </form>
</app-modal>