<div class="py-4">
    <div class="w-full flex flex-row justify-between items-center bg-[#48A6A7] p-3 text-white rounded-xl">
        <header class="text-lg font-semibold">Funding History</header>
        <div class="flex flex-row items-center gap-2">
            <p class="m-0">Current Funding: <span class="font-semibold text-black"> ₱ 100.00</span></p>
            <button class="p-1 px-3 bg-cyan-200 shadow text-black rounded-full flex flex-row gap-2" (click)="openModal()"> <lucide-icon [img]="Funding"></lucide-icon> Update Funding</button>
        </div>
    </div>
</div>

<app-modal [Title]="TitleHeader" [isVisible]="isVisible" (closeModal)="closeModal()">
    <form action="">
        <div class="mt-2">
            <label for="">Amount</label>
            <input type="text" name="" id="" class="w-full p-2 border rounded-md">
        </div>
        <button class="w-full p-2 rounded-full bg-[#48A6A7] text-white mt-3">
            Save Changes
        </button>
    </form>
</app-modal>