<div class="py-4">
    <div class="w-full flex flex-row justify-between items-center bg-[#48A6A7] p-3 text-white rounded-xl">
        <header class="text-lg font-semibold">Solicitations</header>
        <div class="flex flex-row items-center gap-2">
            <button class="p-1 px-3 bg-cyan-200 shadow text-black rounded-full flex flex-row gap-2" (click)="openModal()"> <lucide-icon [img]="plus"></lucide-icon> Solicitation</button>
        </div>
    </div>
</div>

<app-modal [Title]="TitleHeader" [isVisible]="isVisible" (closeModal)="closeModal()">
    <header class="text-xl mt-2 font-bold">Solicitation Information</header>
    <form action="">
        <div class="flex flex-row gap-3">
            <div class="mt-2 w-4/6">
                <label for="">Name of Solicitor</label>
                <input type="text" name="" id="" class="w-full p-2 border rounded-md">
            </div>
            <div class="mt-2 w-2/6">
                <label for="">Date Solicited</label>
                <input type="date" name="" id="" class="w-full p-2 border rounded-md">
            </div>
        </div>
        <div class="mt-1">
            <div>Purpose of Solicitation</div>
            <textarea name="" id="" class="p-2 border rounded-md w-full">
            </textarea>
        </div>
        <button class="w-full p-2 rounded-full bg-[#48A6A7] text-white mt-3">
            Save Changes
        </button>
    </form>
</app-modal>