<div class="py-4">
    <div class="w-full flex flex-row gap-5">
        <div class="w-[25%] bg-[#9ACBD0] p-4 flex flex-row justify-center items-center gap-3 rounded-3xl cursor-pointer hover:scale-102 duration-400" (click)="openModalDSWD()">
            <img src="dswd.png" alt="" class="w-1/3">
            <div class="w-2/3 flex flex-col">
                <span class="text-3xl font-bold">DSWD</span><span class="text-xl font-light">Assistance</span>
            </div>
        </div>
        <div class="w-[25%] bg-[#9ACBD0] p-4 flex flex-row justify-center items-center gap-3 rounded-3xl cursor-pointer hover:scale-102 duration-400" (click)="openModalDOH()">
            <img src="doh.png" alt="" class="w-1/3">
            <div class="w-2/3 flex flex-col">
                <span class="text-3xl font-bold">DOH</span><span class="text-xl font-light">Assistance</span>
            </div>
        </div>
    </div>
</div>
<app-modal [Title]="headerTitle" [isVisible]="modalVisible" (closeModal)="closeModal()">
    <header class="mt-2 font-bold text-2xl">Reuqest Information</header>
    <form (ngSubmit)="submitRequest()">
        <div class="mt-2">
            <label for="">Patient's Name</label>
            <input type="text" name="patients_name" [(ngModel)]="RequestForms.patients_name" id="" class="p-2 border rounded-md w-full" (ngModelChange)="checkNameChange($event)">
        </div>
        <div *ngIf="nameWarning" class="text-red-600 text-sm mt-1 mt-3 items-center w-full">
            <div *ngIf="nameWarnings" class="mt-2 p-3 bg-red-50 border border-red-300 rounded-md w-full">
                <div class="text-red-600 text-sm font-medium mb-2 w-full">
                    This patient has already made a request within the last 3 months.
                </div>
                <div class="text-sm text-gray-700 space-y-1">
                    <div *ngFor="let req of recentRequest" class="flex justify-between">
                        <span>
                            <strong>Date:</strong>
                            {{ req.request_date | date:'mediumDate' }}
                        </span>
                        <span>
                            <strong>Provided:</strong>
                            {{ req.request_provided }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <label for="">Representative's Name</label>
            <input type="text" name="representative_name" [(ngModel)]="RequestForms.representative_name" id="" class="p-2 border rounded-md w-full">
        </div>
        <div class="mt-2" *ngIf="RequestForms.provider_id == 1">
            <label for="">Hospital Name</label>
            <input type="text" name="hospital_name" [(ngModel)]="RequestForms.hospital_name" id="" class="p-2 border rounded-md w-full">
        </div>
        <div class="mt-2">
            <label for="">Address</label>
            <input type="text" name="address" [(ngModel)]="RequestForms.address" id="" class="p-2 border rounded-md w-full">
        </div>
        <div class="mt-2">
            <label for="">Contact Number</label>
            <input type="text" name="contact_number" [(ngModel)]="RequestForms.contact_number" id="" class="p-2 border rounded-md w-full">
        </div>
        <div class="mt-2">
            <label for="">Provided by</label>
            <select name="request_provided" [(ngModel)]="RequestForms.request_provided" id="" class="p-2 border rounded-md w-full">
                @if (RequestForms.provider_id == 1) {
                    <option value="Hospitalization">Hospitalization</option>
                    <option value="Laboratory">Laboratory</option>
                    <option value="Others">Others</option>
                }
                @if (RequestForms.provider_id == 2) {
                    <option value="Burial Assistance">Burial Assistance</option>
                    <option value="Medical Assistance">Medical Assistance</option>
                    <option value="Hospitalization Assistance">Hospitalization Assistance</option>
                    <option value="Financial Assistance">Financial Assistance</option>
                }
                
            </select>
        </div>
        <div class="flex flex-row gap-2">
            <div class="mt-2 w-full">
                <label for="">Amount</label>
                <input type="text" name="amount" [(ngModel)]="RequestForms.amount" id="" class="p-2 border rounded-md w-full">
            </div>
        </div>
        <button class="w-full p-2 rounded-full bg-[#F57600] mt-3 text-white text-lg">
            Save Changes
        </button>
    </form>
</app-modal>
