<div class="py-4 flex flex-col gap-3">
    <div class="w-full flex flex-row items-center bg-[#F57600] py-3 gap-3 px-4 text-white rounded-xl">
        <button class=" p-2 px-3 border rounded-full" (click)="backtoMasterList()">
            <lucide-icon [img]="back"></lucide-icon>
        </button>
        <header class="text-lg font-semibold">Officials Masterlist Per Location</header>
        <button
    class="flex flex-row gap-2 items-center p-3 px-5 border rounded-full bg-green-600 text-white"
    (click)="exportToExcel()"
>
    <lucide-icon [img]="Download"></lucide-icon>
    Export Excel
</button>
    </div>
    <div class="w-full flex flex-row justify-between items-center bg-[#F57600] py-2 px-4 text-white rounded-xl">
        <header class="text-lg font-semibold">Barangay Officials</header>
        <div class="flex flex-row gap-2">
            <button class="flex flex-row gap-3 items-center p-3 px-5 border rounded-full" (click)="openModal1()">
                <lucide-icon [img]="UserPlus"></lucide-icon>
            </button>
        </div>
    </div>
    @for (personel of BarangayOfficials; track $index) {
        <div class="w-full border rounded-md p-2 my-2">
            <p><strong>{{ personel.first_name}} {{ personel.last_name}}</strong></p>
            <p>{{ personel.contact_number }}</p>
        </div>
    }

    <div class="w-full flex flex-row justify-between items-center bg-[#F57600] py-2 px-4 text-white rounded-xl">
        <header class="text-lg font-semibold">SK Officials</header>
        <div class="flex flex-row gap-2">
            <button class="flex flex-row gap-3 items-center p-3 px-5 border rounded-full" (click)="openModal2()">
                <lucide-icon [img]="UserPlus"></lucide-icon>
            </button>
        </div>
    </div>
    @for (personel of BarangaySK; track $index) {
        <div class="w-full border rounded-md p-2 my-2">
            <p><strong>{{ personel.first_name}} {{ personel.last_name}}</strong></p>
            <p>{{ personel.contact_number }}</p>
        </div>
    }
    <div class="w-full flex flex-row justify-between items-center bg-[#F57600] py-2 px-4 text-white rounded-xl">
        <header class="text-lg font-semibold">Additional Leaders</header>
        <div class="flex flex-row gap-2">
            <button class="flex flex-row gap-3 items-center p-3 px-5 border rounded-full" (click)="openModal3()">
                <lucide-icon [img]="UserPlus"></lucide-icon>
            </button>
        </div>
    </div>
    @for (personel of BarangayLeaders; track $index) {
        <div class="w-full border rounded-md p-2 my-2">
            <p><strong>{{ personel.first_name}} {{ personel.last_name}}</strong></p>
            <p>{{ personel.contact_number }}</p>
        </div>
    }
    <div class="w-full flex flex-row justify-between items-center bg-[#F57600] py-2 px-4 text-white rounded-xl">
        <header class="text-lg font-semibold">Purok Leaders</header>
        <div class="flex flex-row gap-2">
            <button class="flex flex-row gap-3 items-center p-3 px-5 border rounded-full" (click)="openModal4()">
                <lucide-icon [img]="UserPlus"></lucide-icon>
            </button>
        </div>
    </div>
    @for (personel of BarangayPurok; track $index) {
        <div class="w-full border rounded-md p-2 my-2">
            <p><strong>{{ personel.first_name}} {{ personel.last_name}}</strong></p>
            <p>{{ personel.contact_number }}</p>
        </div>
    }
</div>
<app-modal [Title]="masterListHeader" [isVisible]="masterlistModal" (closeModal)="closeModal()">
    <header class="mt-2 font-bold text-2xl">{{areaPosition}}</header>
    <form (ngSubmit)="storePersonel()">
        <input type="text" name="first_name" [(ngModel)]="MasterListFields.first_name" id="" placeholder="First Name" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="text" name="middle_name" [(ngModel)]="MasterListFields.middle_name" id="" placeholder="Middle Name" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="text" name="last_name" [(ngModel)]="MasterListFields.last_name" id="" placeholder="Last Name" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="text" name="extension" [(ngModel)]="MasterListFields.extension" id="" placeholder="Extension" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="date" name="birthday" [(ngModel)]="MasterListFields.birthday" id="" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="text" name="sex" [(ngModel)]="MasterListFields.sex" id="" placeholder="Sex" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="text" name="civil_status" [(ngModel)]="MasterListFields.civil_status" id="" placeholder="Civil Status" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="text" name="purok" [(ngModel)]="MasterListFields.purok" id="" placeholder="Purok" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="text" name="municipality_city" [(ngModel)]="MasterListFields.municipality_city" id="" placeholder="Municipality" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="text" name="contact_number" [(ngModel)]="MasterListFields.contact_number" id="" placeholder="Contact Number" class="w-full p-2 rounded-md outline-none border mt-2">
        <input type="submit" value="Save Changes" class="w-full rounded-md bg-blue-500 text-white p-2 mt-2">
    </form>

</app-modal>