@import "tailwindcss";
button{
    cursor: pointer;
}
full-calendar{
    table{
        width: 100%;
        thead{
            th{
                background-color: unset !important;
                padding: unset !important;
                text-align:  unset !important;
                &:first-child{
                    border-radius:unset !important;
                }
                &:last-child{
                    border-top-right-radius: unset !important;
                    border-bottom-right-radius:  unset !important;
                }
            }
        }
        tr{
            td{
                padding: unset !important;
            }
            &:hover{
                background: unset;
                transition: .5s;
            }
        }
    }
}
table{
    width: 100%;
    thead{
        th{
            background-color: #a2f4fd;
            padding:15px 10px !important;
            text-align: left;
            &:first-child{
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
            &:last-child{
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }
    tr{
        td{
            padding: 10px 5px !important;
        }
        &:hover{
            background: #dbdbdb;
            transition: .5s;
        }
    }
}
.pagination{
    width: 100%;
    justify-content: end !important;
    button{
        background-color: #a2f4fd;
        padding: 10px;
        border-radius: 50px;
        width: 100px;
    }
}